.roomCardContainer{
	background-color:#ffffff;
	padding:1em 1em;
	border-radius: 1em;
	border:none;
	margin-top: 0.5em;
}

.roomCardContainer h6{
	font-size: 0.675em;
	color:var(--textColor);
	font-weight: 500;
}

.roomCardContainer h2{
	font-size: 0.875em;
	font-weight: 500;
	line-height: 1;
	color: #000000;
}