.roomDetailContainer .head{

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8em 0.5em 1.5em 0.5em;

}

.head .arrow_icon{
	width: 15px;
	transform: rotate(-90deg);
	margin-top: -0.5em;
}

.head .profile_img{
	width: 25px;
	border-radius: 0.8em;
	margin-left: 1.2em;
}

.head span{
	font-size: 1em;
}

.head svg{
	font-size: 1.4em;
}

.roomDetailCard{
	background-color: #ffffff;
	padding: 1em 1em 3em 1em;
	border-radius: 1.5em 1.5em 0 0;
	height: 90vh;
	overflow: auto;
}

.roomDetailCard h6{
	font-size: 0.675em;
	color: var(--textColor);
	font-weight: 500;
	margin-bottom: 0.3em;
}

.roomDetailCard img{
	width: 70px;
	border-radius: 1.7em;
}

.memberContainer{
	text-align: center;
	width: 70px;
	position: relative;
}

.memberContainer .audio_icon{
	position: absolute;
	right: -5px;
	bottom: 36px;
	z-index: 5;
	background-color: #ffffff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 3px #cccccc;
}